/*body {
	margin: 60px auto;
    width: 70%;
}*/
body {
	font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
/*    width: 100%;*/
    display: ;
    background-color: #f4f4f4;
    padding: 0px;
    margin: 0px;
}

header, section, article, footer, aside, nav, hgroup {
    display: block;
}

.container {
    width: 70%;
/*    border: 1px solid black;*/
    margin: auto; /* moves everything to middle */
    overflow: hidden; /* doesn't let the children to get out */
    padding: ;
}


#top_header {
    background-color: #35424a;
    color: #ffffff;
/*    border: 1px solid black;*/
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
/*    margin: 0px;*/
}

p {
    font-family: sans-serif;
    font-variant: normal;
    font-weight: ;
    vertical-align: ;
    text-decoration: none;
    text-indent: ;  /* indents only first line of para */
    word-spacing: normal;

}*/

header #branding {
    float: left;
}

#branding h1{
	margin-bottom: 30px;
}

#branding a{
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	outline: none;
}

#branding a:hover{
	color: #cccccc;
}

nav {
    float: right;
    margin-top: -65px;
}

nav a {
    color: #ffffff;
    text-decoration: none;  /* removes underline from links */
    text-transform: uppercase;
    display: inline-block;
    list-style: none;
/*    padding: 20px; */
}

ul {
    margin: 0px;
    padding: 0px;  /* also removes bullets from list items */
/*    border: 1px solid black;*/
}

nav li {
/*    float: left;*/
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    display: inline;
    padding: 20px; /* top right bottom left */
}

nav a:hover {
    color: #cccccc;
    font-weight: 500;
}

nav .current a{
	color: #e8491d;
	font-weight: bold;
}

#showcase{
	text-align: center;
}

#showcase h1 {
    margin-top: 70px;
    font-size: 45px;
    margin-bottom: 10px;
}

aside {
    float: right;
    width: 30%;
    margin-top: 20px;
}

#main{
	margin-bottom: 40px;
}

#sidebar a, #main-art a{
	text-decoration: none;
	color: lightseagreen;
	outline: none;
}

#sidebar a:hover{
	color: #cccccc;
}

#main-art a:hover{
	color: darkgray;
}

article#main-art{
    float: left;
    width: 65%;
}

#projects{
	margin-top: 30px;
	font-family: sans-serif;
}

#mypic img{
	display: block;
	margin: auto;
	width: auto;
	max-width: 100%;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}






#last_footer {
    clear: both; /* clears floating property */
    text-align: center;
    padding: 20px;
    margin-top: 20px;
/*    background-color: #e8491d;*/
	color: slategray;
	border-top: 1px solid #d5d5d5;
    /*border-top: 1px solid black;*/
	font-size: 15px;

}




@media(max-width: 768px) {
	header #branding,
    nav,
	nav li,
    aside#sidebar{
		float: none;
        text-align: center;
        width: 100%;
	}
	article#main-art,
	article#blog{
		float: none;
/*		text-align: justify;*/
		width: 100%;
	}
	nav{
		margin-top: 10px;
		overflow: hidden;
	}
	header {
        padding-bottom: 20px;
    }
}
