:root {
  --bg-color: #ffffff;
  --font-color: #282828; /* 424242, 3B3B3B*/
}

[data-theme="dark"] {
    --bg-color: #282828;
    --font-color: #fff;
}

body {
    /* font: font-style font-variant font-weight font-size/line-height font-family */
    font: 400 17px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: var(--bg-color);
    color: var(--font-color);
}

header, section, article, footer, aside, nav, hgroup, h1, h2, h3, h4, h5, h6 {
    display: block;
}

h1 { margin-top: 0.67em; margin-bottom: 0.67em; font-size: 2.00em; font-weight: bold; }
h2 { margin-top: 0.83em; margin-bottom: 0.83em; font-size: 1.50em; font-weight: bold; }
h3 { margin-top: 1.00em; margin-bottom: 1.00em; font-size: 1.17em; font-weight: bold; }
h4 { margin-top: 1.33em; margin-bottom: 1.33em; font-size: 1.00em; font-weight: bold; }
h5 { margin-top: 1.67em; margin-bottom: 1.67em; font-size: 0.83em; font-weight: bold; }
h6 { margin-top: 2.33em; margin-bottom: 2.33em; font-size: 0.67em; font-weight: bold; }

.container {
    width: 70%;
    margin: auto; /* moves everything to middle */
    overflow: hidden; /* doesn't let the children to get out */
}

#top_header {
    background-color: #35424a;
    color: #ffffff;   
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

#top_header_algo {
    background-color: #1E423B;
}

#header_algo {
    text-align: center;
    padding: 20px 0;
    background-color: #065150;
    color: #ffffff;
}

p, li {
    font-family: sans-serif;
    font-variant: normal;
    text-decoration: none;
    word-spacing: normal;

}

#branding h1{
	margin-bottom: 30px;
}

#branding a{
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	outline: none;
}

#branding a:hover{
	color: #cccccc;
}

nav {
    float: right;
    margin-top: -70px;
}

nav a {
    color: #ffffff;
    text-decoration: none;  /* removes underline from links */
    text-transform: uppercase;
    display: inline-block;
    list-style: none;
	/* outline: none;  outline provides accessiblity feature */
}

nav ul {
    margin: 0px;
    padding: 0px;  /* also removes bullets from list items */
}

nav #post_algo{
    margin-top: 30px;
}

nav li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    display: inline;
    padding: 20px; /* top right bottom left */
}

nav a:hover {
    color: #cccccc;
    font-weight: 500;
}

nav .current a{
	color: #e8491d;
	font-weight: bold;
}

#btmnav {
    list-style: none;
}

#btmnav li {
    display: inline;
}

#showcase{
	text-align: center;
}

#showcase h1 {
    margin-top: 70px;
    font-size: 45px;
    margin-bottom: 10px;
}

aside {
    float: right;
    width: 30%;
    margin-top: 20px;
}

#main{
	margin-bottom: 40px;
}

#sidebar a, #main-art a, #univ a, #post a, #projects-page a{
	text-decoration: none;
	color: lightseagreen;
	outline: none;
}

#tags a{
    text-decoration: none;
    background-color: lightseagreen;
    color: white;
    padding: 3px 6px;
    margin-top: 3px;
    display: inline-block;
    text-align: center;
}

#tags a:hover, #projects-page a:hover{
    opacity: 0.75;
}

#main-art a:hover, #sidebar a:hover{
    /* color: darkgray; */
    opacity: 0.75;
}

#univ a:hover, #post a:hover{
	color: orange;
}

article#main-art{
    float: left;
    width: 65%;
}

/* Place every second experience on the opposite side */
@media (min-width: 768px) {
    .experience {
        width: 50%;
    }

    .experience:nth-child(2n) {
        left: 60%;
    }

    .experience:nth-child(2n)::after {
        left: calc(100% + 1px);
    }

    .experience:nth-child(2n) .details {
        text-align: right;
    }
}

#projects, #skills{
	margin-top: 30px;
	font-family: sans-serif;
}

/* My projects */
#myprojects {
    display: flex;
    flex-wrap: wrap;
}
#myprojects li {
    flex: 1 0 40%; /* This means that each item will take up 50% of the container's width */
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
    list-style-type: none;
    background: #f5f5f5; /* Change this to your desired background color */
    cursor: pointer; /* Changes the cursor to a hand icon when hovering over the item */
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    background-color: #f4f4f4;
    border-radius: 5px;
    width: 300px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: inherit;
}

.project-card:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.project-card h4 {
    /* font-size: 24px; */
    margin: 16px;
}

.project-card p {
    font-size: 16px;
    margin: 16px;
}

.btn {
    display: block;
    width: 80%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    text-align: center;
    margin: 0 auto 20px auto;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #2980b9;
}

#mypic img{
	display: block;
	margin: auto;
	width: auto;
	max-width: 100%;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa {
    padding: 5px;
}
  
.fa:hover {
    opacity: 0.7;
}

.fa-kagg:before {
    font-family: roboto;
    color: #429bf4;
    font-size: 1.2em;
    content: "k";
}

#social-icons li{
    padding-left: 10px;
    padding-right: 10px;
}

#social-icons li{
    display: inline-block;
}

#last_footer {
    clear: both; /* clears floating property */
    text-align: center;
    padding: 20px;
    margin-top: 20px;
	color: slategray;
	border-top: 1px solid #d5d5d5;
	font-size: 15px;

}

#last_footer a{
	text-decoration: none;
	color: lightslategray;
	
}

#last_footer a:hover{
	text-decoration: underline;
}

#e404 a{
    color: lightseagreen;
    text-decoration: none;
}

#e404 a:hover{
    color: orangered;
}

iframe, object, embed, video{
    max-width: 100%;
}
  
/* Switch theme */

label#theme {
    display: block;
    height: 25px;
    width: 100px;
    background: #eee;
    color: #282828;
    text-align: center;
    font: 14px/25px Helvetica, Arial, sans-serif;
    margin: 130px 0;
    position: absolute;
}

label#theme:hover {
    background: #282828;
    color: #fff;
    cursor: pointer;
}

input#themeswitch {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

#contact-form form input, #contact-form form textarea {
    margin-bottom: 0.5em;
}

#contact-form input, #contact-form textarea {
    border: 1px solid #ddd; 
    background: #fff;
    padding: 0.2em;
    width: 97%;
}

#contact-form button, #contact-form input, #contact-form select, #contact-form textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

/* Categories */
.tag-cloud {
    list-style: none;
    padding: 0;
    text-align: justify; 
    font-size: 16px;
}

.tag-cloud li {
    display: inline-block;
    margin: 0 12px 12px 0; 
}

#taggs {
    padding: 5px;
}
.taggs-group {
    margin: 5px;
    border-top: 1px solid #ddd;
}
.taggs-item {
    margin-left: 5px;
}
.post-tags {
    text-align: right;
}

.relatedposts{
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    margin:0 auto;
    text-align: center;
}

.relative-relatedposts{
    width: 200px;
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Pagination */
.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a:hover {
        background-color: #f1f1f1;
        color: #333;
    }

.pagination {
    margin-top: 15px;
    text-align: center;
 }

.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    padding: 5px;
    margin: 30px;
}

.card:hover {
    box-shadow: 0 0 8px 8px rgba(0,0,0,0.2);
}


@media(max-width: 768px) {
	.container{
		width: 86%;
	}
	header #branding,
    nav,
	nav li,
    aside#sidebar{
		float: none;
        text-align: center;
        width: 100%;
		word-wrap: break-word;  /* to break the link into multiple lines */
	}
	article#main-art,
	article#blog{
		float: none;
		width: 100%;
	}
	nav{
		margin-top: 0px;
        overflow: hidden;
        padding-top: 0px;
    }
    nav #post_algo{
        margin-top: 0px;
    }
	header {
        padding-bottom: 20px;
    }
    iframe, video{
        max-width: 100%;
        height: 80%;
    }
    label#theme{
        margin: 0;
    }
    .card {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }
}


/* The box model: to see every box that makes up the page */
/* * {
   outline: 1px solid red !important;
   background-color:rgba(0,2,54,.1) !important
} */

/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
