---
layout: default
title: Technical Fridays | Archives
---

<header id="top_header">
    <div class="container">
    <div id="branding">
            <h1><a href="/blog">Technical Fridays</a></h1>
        </div>

    <nav>
        <ul>
            <li><a href="{{ site.url }}">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>

    </nav>
    </div>
</header>

<div class="container">
    <div id="post">
        <h1>Archives</h1>
        {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
        {% for yearMonth in postsByYearMonth %}
            <h3>{{ yearMonth.name }}</h3>
            
            {% for post in yearMonth.items %}
            <div class="card">
                <div style="text-align: center">
                    {% assign foundImage = 0 %}
                    {% assign images = post.content | split:"<img " %}
                    {% for image in images %}
                      {% if image contains 'src' %}
                          {% if foundImage == 0 %}
                              {% assign html = image | split:"/>" | first %}
                              <img style="display:block; margin:auto; height: 200px; max-width: 100%;" {{ html }} />
                              {% endif %}
                              {% assign foundImage = 1 %}
                          {% endif %}
                    {% endfor %}
                    <a href="{{ post.url }}">{{ post.title }}</a>
                 </div>
             </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

