<link rel="stylesheet" href="/css/quiz.css">
<div id="quiz">
  <h1 id="quiz-name"></h1>
  <div style="display: flex; align-items: center; justify-content: center">
    <button id="prev-question-button">Previous</button>
    <button id="next-question-button">Next Question</button>
    <button id="submit-button">Submit Answers</button>
  
  <div id="quiz-results" style="display: flex; align-items: center; justify-content: center">
    <p id="quiz-results-message"></p>
    <p id="quiz-results-score"></p>
    <!-- <button id="quiz-retry-button">Retry</button> -->
  </div>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'>
  </script><script  src="/_includes/questions.js"></script>
  </script><script  src="/_includes/quiz.js"></script>

</div>