---
layout: default
title: Technical Fridays | Blog
---

<header id="top_header">
  <div class="container">
    <div id="branding">
        <h1><a href="/blog">Technical Fridays</a></h1>
		</div>
    <nav>
      <ul>
        <li><a href="{{ site.url }}">Home</a></li>
         <li class="current"><a href="/blog">Blog</a></li>
         <li><a href="/poems">Poems</a></li>
      </ul>
    </nav>
  </div>
</header>

<section id="main">
  <div class="container">
    <h1>Blog<a style="color:seagreen; float: right; font-size: 20px; text-decoration: none; padding-top: 12px;" href="/archive.html">Archives</a></h1>

    <p>
    My personal notes in the form of blog posted on Fridays:
    <a style="text-decoration: none; color: seagreen;" href="{{ site.url }}{% post_url 2017-07-21-technical-fridays %}" 
      onMouseOver="this.style.color='#3bd382'"
      onMouseOut="this.style.color='#2e8b57'">Technical Fridays</a></p>
      
    <div id="post">
        <ul class="tag-cloud">
            {% for category  in site.categories %}
                <li style="font-size: {{ category | last | size | times: 100 | divided_by: site.categories.size | plus: 70 }}%">
                    <a href="{{ site.url }}/categories/#{{ category | first | slugify }}">
                      {{ category | first }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        </div>
    <gcse:search></gcse:search>

    <div id="post">
      <ul class="posts">

        <!-- This loops through the paginated posts date: '%b %d, %Y'-->
        {% for post in paginator.posts %}
          <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{
            post.title }}">{{ post.title }}</a></li>
        {% endfor %}

        <!-- Pagination links -->
        {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
          {% else %}
            <span>&laquo; Prev</span>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <em>{{ page }}</em>
            {% elsif page == 1 %}
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
          {% else %}
            <span>Next &raquo;</span>
          {% endif %}
        </div>
        {% endif %}
      </ul>
    </div>           
	</div>

  <footer>
    <div class="container">
      <div id="main-art">
      
        <form id="timyletter-form" style="padding:3px;text-align:center;" 
          action="https://tinyletter.com/kHarshit" method="post" target="popupwindow" 
          onsubmit="window.open('https://tinyletter.com/kHarshit', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          <p><input type="text" style="width:200px; height:25px;" name="email" id="tlemail" placeholder="Your email"/>
          <input type="hidden" value="1" name="embed"/>
          <input type="submit" style="font-size: 100%; margin: 0.2em" value="Subscribe" /></p></form>

        <div style="text-align: center">
          Subscribe via <a class="fa fa-rss" href="/feed.xml"></a>
        </div>
      </div>
    </div>
  </footer>
</section>

<script>
  (function() {
    var cx = '001959566840040694531:8azmpl3iwrq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
