<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="keywords" content="personal website, github pages">
        <meta name="description" content="personal website">
		<meta name="author" content="Harshit Kumar">
        <title>{{ page.title }}</title>
        <!--
			HHHH        HHHH
			HHHH        HHHH
			HHHH        HHHH
			HHHH        HHHH
			HHHH        HHHH
			HHHH        HHHH
			HHHHHHHHHHHHHHHH
			HHHHHHHHHHHHHHHH
			HHHH        HHHH
			HHHH        HHHH
			HHHH        HHHH
			HHHH        HHHH
			HHHH        HHHH
			HHHH        HHHH
-->
        <link rel="stylesheet" href="css/main.css">

    </head>

    <body>




        <div class="idontknow">
            {{ content }}
        </div>





        <footer id="last_footer">
            Copyright &copy; Harshit Kumar 2017 - <a href="about_site.html">About this site</a>

        </footer>

    </body>
</html>