---
layout: default
---

<header id="top_header">
    <div class="container">
        <div id="branding">
            <h1><a href="/blog">Technical Fridays</a></h1>
		</div>
        <nav>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <h1>{{ page.title }}</h1>
    
    {{ page.date | date: "%A, %B %-d, %Y" }}<br />
    {% include readtime.html %}
        
    <div id="post">
        {{ content }}
    </div>

    <!-- For Tags (Categories) -->
    <div id="tags">
        <div class="post-categories">
            {% if post %}
                {% assign categories = post.categories %}
            {% else %}
                {% assign categories = page.categories %}
            {% endif %}
            {% for category in categories %}
                <a href="{{site.baseurl}}/categories/#{{category|slugify}}">{{category}}</a>
                {% unless forloop.last %}&nbsp;{% endunless %}
            {% endfor %}
        </div>
    </div>     

    <div class="PageNavigation">
        {% if page.previous.url %}
            <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
            <a class="next" href="{{ commonTags }}{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
    </div>

    <!-- Subscription form -->
    <form id="timyletter-form" style="padding:3px;text-align:center;" 
          action="https://tinyletter.com/kHarshit" method="post" target="popupwindow" 
          onsubmit="window.open('https://tinyletter.com/kHarshit', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          <p><input type="text" style="width:200px; height:25px;" name="email" id="tlemail" placeholder="Your email"/>
          <input type="hidden" value="1" name="embed"/>
          <input type="submit" style="font-size: 100%; margin: 0.2em" value="Subscribe" /></p></form>

    <!-- Related posts -->
    <h4>You May Also Like</h4> 
    <div id="post">
        <div class="relatedposts">      
            {% assign maxRelated = 4 %}
            {% assign minCommonTags =  2 %}
            {% assign maxRelatedCounter = 0 %}
            
            {% for post in site.posts %}
                {% assign sameTagCount = 0 %}
                {% assign commonTags = '' %}
            
                {% for category in post.categories %}
                  {% if post.url != page.url %}
                    {% if page.categories contains category %}
                      {% assign sameTagCount = sameTagCount | plus: 1 %}
                      {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
                      {% assign commonTags = commonTags | append: tagmarkup %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
            
                {% if sameTagCount >= minCommonTags %}
                <div class="relative-relatedposts">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </div>
                {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                    {% if maxRelatedCounter >= maxRelated %}
                        {% break %}
                    {% endif %}
                {% endif %}        
            {% endfor %}
        </div>
    </div>

    <div class="notecomments">
		{% include disqus.html %}	 
    </div>
        
    <button onclick="topFunction()" id="scroll_top" title="Go to top"><span class="fa fa-chevron-up"></span></button>
    <script src="/css/script.js"></script>

    <!-- For LaTeX (including MathJax) -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>

</div>
    