<script>
    var all_questions = [{
      question_string: "In the context of CUDA programming, what is a kernel?",
      choices: {
        correct: "A function executed on the GPU",
        wrong: ["A small piece of hardware in the GPU", "A type of memory in the GPU", "A special type of thread"]
      }
    }, {
      question_string: "In our CUDA matrix multiplication, what does each thread compute?",
      choices: {
        correct: "A single element of the resulting matrix C",
        wrong: ["A row of the resulting matrix C", "A column of the resulting matrix C", "The entire resulting matrix C"]
      }
    }, {
      question_string: "How are threads organized in CUDA?",
      choices: {
        correct: "Threads are organized into blocks, which are further organized into grids.",
        wrong: ["Threads are organized directly into grids.", "Threads are organized into matrices.", "Threads are organized into lists."]
      }
    }, {
      question_string: "What does the cudaDeviceSynchronize() function do?",
      choices: {
        correct: "It blocks the CPU until all previous CUDA calls are complete.",
        wrong: ["It allocates shared memory.", "It synchronizes threads within a block.", "It frees device memory."]
      }
    }];
</script>
{% include quiz.html %}
