<script>
    var all_questions = [{
      question_string: "What is the best way to copy the data of a tensor x to y?",
      choices: {
        correct: "y = x.detach().clone()",
        wrong: ["y = torch.tensor(x)", "y = x.clone()", "y = x.detach()"]
      }
    }, {
      question_string: "Which data format does PyTorch use?",
      choices: {
        correct: "NCHW",
        wrong: ["NHWC", "CHWN", "Both NCHW and NHWC"]
      }
    }, {
      question_string: "What are the default tensor data types of: torch.tensor([1, 2]), torch.tensor([1., 2.]), torch.randn(2, 2)?",
      choices: {
        correct: "torch.int64, torch.float32, torch.float32",
        wrong: ["torch.int64, torch.float64, torch.float32", "torch.int64, torch.float64, torch.float64", "torch.float32, torch.float32, torch.float32"]
      }
    }, {
      question_string: "Which of the following is the incorrect way to get prediction probabilities from a classification model?",
      choices: {
        correct: "Add nn.Softmax() extra layer then use torch.exp(output) with nn.NLLLoss()",
        wrong: ["Add nn.LogSoftmax() extra layer then use torch.exp(output) with nn.NLLLoss()", "Use F.softmax(output) with nn.CrossEntropy()", "All are correct"]
      }
    }];
</script>
{% include quiz.html %}
